.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  background: #333940!Important;
  width: 550px!Important;
  border-radius: 30px!Important;
  text-align: initial;
}

.form-side {
  width: 28%;
  height: 65px;
  background: #282D33;
  padding: 8px;
  border-radius: 50px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form-side:hover {
  border-color: #a520dc!Important;
  border: 2px solid;
  background: #a520dc1c;
  opacity: 0.8;
  cursor: pointer;
}

.form-main {
  width: 70%;
}

.form-inner {
  display: flex!Important;
  flex-direction: row!Important;
  justify-content: space-between!Important;
  align-items: center!Important;
}

#exampleInputEmail1 {
  /* width: 80%!Important; */
  background: transparent;
  border: none;
  box-shadow: none!Important;
  font-size: 30px;
  text-align: right;
}

.title_one {
  font-size: 12px;
}

.modal-content {
  background: #282D33!Important;
  color: #fff;
}

.list-group .list-group-item {
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: 500;
}

.list-group .list-group-item:hover {
  background-color: #30363e;
  /* border-radius: 10px; */
  /* box-shadow: 2px 5px #30363e; */
}

.modal-body {
  padding: 0!Important;
}

.list-content {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.list-content img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  object-fit: contain;
  margin-right: 20px;
}

.close-icon {
  margin: 20px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}